@import "variables";
@import "mixins";

.subheader {
  padding-top: 30px;
  &__social {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    &-menu{
      @include menu-button;
      margin-right: 32px;
    }
    &-icon {
      @include social-icon;
    }
    &-icon:nth-of-type(1) {
      margin-right: 16px;
    }
  }
  &__lang {
    @include lang;
    padding-bottom: 30px;
  }
  &__logo {
    @include logo;
  }
  &__contacts {
    @include contacts;
    padding-bottom: 30px;
  }
}

@media all and (max-width: 767px) {
  .subheader {
    &__logo {
      width: 90px;
      height: 90px;
      margin-top: 0;
      border: 2px solid $primary-color;
      & img {
        max-width: 90px;
      }
    }
    &__contacts {
      &-item {
        &:nth-of-type(1) {
          margin-left: 0;
          margin-right: 17px;
        }
      }
      &-phonenumber {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
@media all and (max-width: 1370px) {
  .subheader {
    &__contacts {
      &-phonenumber {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}