@import "variables";
@import "mixins";

.subheader {
  padding-top: 30px;
  &__social {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    &-menu{
      @include menu-button;
      margin-right: 32px;
      &-hamburger {
        margin-top: 10px;
        background-color: $primary-color;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &-icon {
      @include social-icon;
    }
    &-icon:nth-of-type(1) {
      margin-right: 16px;
    }
  }
  &__lang {
    @include lang;
    padding-bottom: 30px;
  }
  &__logo {
    @include logo;
  }
  &__contacts {
    @include contacts;
    padding-bottom: 30px;
  }
}
@media all and (min-width: 1400px) {
  .subheader {
    &__logo {
      margin: -22px auto 0 auto;
    }
    &__social, &__lang, &__contacts {
      padding-bottom: 0 !important;
    }
    &__lang {
      margin-left: 0;
    }
  }
}
@media all and (max-width: 767px) {
  .subheader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 17;
    width: 100%;
    &__social {
      &-menu {
        &-hamburger {
          margin-top: 30px;
        }
      }
    }
    padding-top: 0;
    &__lang {
      margin-top: 30px;
    }
    &__logo {
      width: 130px;
      height: 130px;
      margin-left: 35px;
      margin-top: 0;
      margin-right: auto;
      border: none;
      & img {
        max-width: 130px;
      }
    }
    &__contacts {
      margin-top: 30px;
      &-item {
        &:nth-of-type(1) {
          margin-left: 0;
          margin-right: 17px;
        }
      }
      &-phonenumber {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
@media all and (max-width: 575px) {
  .subheader {
    &__contacts, &__lang {
      padding-bottom: 0;
      margin-top: 30px;
    }
    &__logo {
      margin-left: 20px;
    }
  }
}
@media all and (max-width: 500px) {
  .subheader {
    &__contacts {
      //margin: 30px auto 0 auto;
    }
    &__logo {
      width: 100px;
      height: 100px;
      & img {
        max-width: 100px;
      }
    }
    &__lang {
      margin-left: 2px;
    }
  }
}
@media all and (min-width: 400px) and (max-width: 500px) {
  .subheader {
    &__logo {
      margin-left: 20px;
    }
  }
}
@media all and (max-width: 400px) {
  .subheader {
    &__logo {
      margin-left: 0;
    }
  }
}
