@import "variables";
@import "mixins";

.main-photo, .category-photo {
  width: 100%;
  max-height: 100%;
  margin-top: -70px;
  position: relative;
  &__styles {
    width: 100%;
  }
}
.category-photo {
  max-height: 100%;
  position: relative;
}
.category-menu {
  @include photo-menu;
}
@media all and (max-width: 767px) {
  .main-photo, .category-photo {
    margin-top: 20px;
    max-height: 320px;
  }
  .category-photo {
    min-height: 200px;
  }
}