@import "variables";
@import "mixins";

.prices {
  margin-top: 20px;
  width: 100%;
  &-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 96px;
  }
  &__title {
    @include title;
  }
  &__subtitle {
    @include subtitle;
  }
  .service-header, .service-header__category {
    margin-top: 84px;
    margin-bottom: 115px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    &__tab img, &__tab span {
      display: block;
      margin: 0 auto;
    }
    &__tab img {
      height: 40px;
      width: 40px;
    }
    &__tab span {
      color: #1A1A1A;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      margin-top: 18px;
    }
    &__tab {
      cursor: pointer;
      width: 133px;
      padding: 30px 10px 10px 10px;
      margin: 0 auto;
    }
    &__tab.active {
      @include btn-frame(133px, 167px);
      display: block;
      margin: 0 auto;
    }
  }
  .service-header__category {
    margin-top: 0;
  }
  .product-item {
    @include product-item;
  }
  &-pagination {
    margin: 81px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__tab {
      height: 60px;
      width: 60px;
      border: 5px solid #F6F5F1;
      background-color: #fff;
      color: $text-color;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0;
      }
      &.active {
        border: 5px solid $text-color;
        background-color: $text-color;
        color: #fff;
      }
    }
  }
}
.prices-category {
  padding-top: 84px;
  & .service-header {
    margin-top: 0;
  }
}
@media all and (max-width: 1199px) {
  .prices {
    .service-header {
      justify-content: center;
    }
    .service-header__tab {

    }
  }
}
@media all and (max-width: 991px) {
  .prices {
    .service-header {
      justify-content: center;
    }
    .service-header__tab {

    }
  }
}
@media all and (max-width: 767px) {
  .prices {
    &__title {
      padding-top: 20px;
    }
    &__subtitle {
      font-size: 23px;
      line-height: 24px;
      margin: -42px auto 0 auto;
    }
  }
}
@media all and (max-width: 575px) {
  .prices {
    &-wrapper {
      padding: 20px;
    }
    &__title {
      padding-top: 20px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 20px;
      margin: 10px auto 0 auto;
    }
    .service-header, .service-header__category {
      &__tab {
        cursor: pointer;
        width: 90px;
        padding: 30px 5px 10px 5px;
      }
      &__tab.active {
        @include btn-frame(90px, 130px);
      }
      &__tab span {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

